.hidden {
    display: none;
}

#header {
	background-color: #ffd700;
}

#header a {
	color: #000;
	text-decoration: none;
}

.top-height {
	padding-top: 0.5rem;
}

#logo {
    margin: 1rem 2rem;
}

#logo img {
    max-height: 50px;
}

#main {
	background-color: #fafafa;
	min-height: 400px;
	padding-top: 4rem;
}

#top-right-panel {
    margin: 2.5rem;
    text-align: right;
	font-size: 1.5rem;
    font-weight: 700;
}

#nav {
    margin: 2.5rem;
    text-align: left;
}

#nav div {
	display: inline-block;
	padding-left: 2rem;
	font-size: 1.5rem;
    font-weight: 700;
}

#login-register,
#post-free-ad {
    display: inline-block;
    vertical-align: middle;
}

#my-account-logo {
	display: inline-block;
}

#my-account-logo img {
	width: 30px;
	margin-right: 0.7rem;
}

#my-account-link {
	display: inline-block;
}

#login-register {
    padding-right: 1rem;
}

#select-category {
    margin-top: 1rem;
}

#select-category select {
	height: 40px;
	padding: 0 1.5rem 0 1rem;
	font-size: 1.6rem;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.07);
}


#top-container {
	background: url(../images/car-rental-banner.png) no-repeat center center;
	background-color: #495656;
	background-size: contain;
	min-height: 400px;
	text-align: center;
	padding: 2rem;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.search-form {
	position: relative;
	top: 160px;
	background: rgba(255,255,255,0.95);
	padding: 2rem;
	max-width: 90%;
	margin: 0 auto;
}

.search-form-input {
	background: none;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 0 0.8rem;
	min-height: 36px;
}

.search-form-btn {
	padding: 0.5rem 3rem;
	background: #ff852e;
	color: #fff;
	border: none;
	border-radius: 2px;
	min-height: 36px;
}

.car-single-compact a {
	text-decoration: none;
	color: #000;
}

.car-single-compact,
.review-compact {
	display: block;
	background-color: #fff;
	margin-bottom: 3rem;
	padding: 2rem;
	width: 100%;
	min-height: 140px;
	/*box-shadow: 1px 1px 16px rgba(0,0,0,0.1);*/
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.car-single-compact .car-image {
	position: absolute;
	right: 30px;
	top: 35px;
}

.car-single-compact .car-class,
.car-single-compact .passengers-bags,
.car-single-compact .price,
.car-single-compact .car-select-button  {
	display: block;
}

.car-single-compact .car-class {
	font-size: 1.6rem;
	font-weight: 700;
	padding: 0.3rem 0;
}

.car-single-compact .passengers-bags {
	color: #9e9e9e;
	padding-bottom: 0.5rem;
}

.car-single-compact .price {
	
}

.car-single-compact .car-select-button {
	padding: 0.5rem 4rem;
	background: #ff852e;
	color: #fff;
	border: none;
	border-radius: 2px;
	min-height: 34px;
}

#customer-reviews {
	margin: 4rem 0;
}

.review-compact {
	box-shadow: 0px 0px 7px rgba(0,0,0,0.1);
}

.review-rating {
	color: #f98813;
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

.review-text {
	color: #848484;
}

.review-author {
	text-align: right;
	padding-right: 2rem;
	font-style: italic;
	color: #adadad;
}

#price-by-category {
	font-size: 2rem;
	padding-bottom: 2rem;
}

#comments {
    background-color: #b7b7b7;
    color: #fff;
    padding: 2rem;
    max-width: 60%;
    margin: 0 auto 2rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.comment-text {
    padding-left: 2rem;
}

.single-comment {
    padding: 1rem 2rem 2rem;
}

.single-comment:nth-child(even) {
    background-color: #8f8b92;
}

.single-comment:nth-child(odd) {
    background-color: #6d6d6d;
}

#add-new-comment {
    text-align: right;
    padding: 1rem 0 0;
}

#add-new-comment-btn {
    background-color: #f8f8ff;
    color: #000;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#comments-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

#submit-comment {
    font-weight: 700;
}

#comment-text {
    color: #000;
}

/*
* BEGIN JQuery UI override
* ------------------------------
*/

.ui-widget-header {
    background: #d0caca;
}

.ui-dialog .ui-dialog-content {
    background-color: #f2f2f2;
}

.ui-dialog-titlebar-close::before {
    content: "x";
    color: #000;
    position: relative;
    top: -4px;
}

/*
* END JQuery UI override
* ------------------------------
*/


/*
* BEGIN Select fix for Firefox
* ------------------------------
*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/select-arrow.png) no-repeat center right;
	text-indent: 0.01px;
	text-overflow: '';
	min-height: 36px;
	padding-left: 0.5rem;
}

select#user-type,
select#select-ad-type {
    background: url("../images/select-arrow.png") no-repeat center right !important;
}

/*
* END Select fix for Firefox
* -----------------------------
*/

#main-title {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0 3rem;
}

#category-title {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 2rem;
}

#login-form,
#register-form,
#post-ad-form {
    width: 50%;
    margin: 0 auto 3rem;
    padding: 2rem;
    background-color: #fefefe;
    border: 1px solid rgba(0,0,0,0.1);
}

#login-form label,
#register-form label,
#post-ad-form label {
    margin-bottom: 0.7rem;
}

#login-username,
#login-password {
    width: 100%;
}

#back-btn {
    display: block;
    text-align: right;
}

footer {
    background-color: #1b2727;
    padding: 2rem;
	color: #f0f8ff;
}

footer a {
	color: #f0f8ff;
}

/* 
* BEGIN Overriding Bootstrap styles 
* ----------------------------
*/

.btn-primary {
    color: #fcfbf7;
    background-color: #d26c07;
    background-image: none;
    border-color: #b95f06;
    border-bottom: 3px solid #bb5f01;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
}

/* 
* END Overriding Bootstrap styles 
* ----------------------------
*/


/*
 * BEGIN Row with equal height columns
 * --------------------------------------------------
 */
.eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.ad-single-compact {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
 * END Row with equal height columns
 * --------------------------------------------------
 */


 /* 
 * BEGIN Responsive CSS
 * --------------------------------------------
 */

@media only screen and (min-device-width: 120px) and (max-device-width: 991px) {

    #logo a img {
        text-align: center;
    }
    #top-right-panel,
    #logo {
        text-align: center;
    }
    #car-categories-home-page {
        width: 90%;
        margin: 0 auto;
    }
    .eq-height {
        display: block;
    }
}

 /* 
 * END Responsive CSS
 * --------------------------------------------
 */